<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description, "Home") %>
<table class="table table-striped">
  <thead><tr><th>Description</th><th>Date</th><th>Device Count</th></tr></thead>
  <%= render @sweeps %>
</table>
<%= will_paginate %>