<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description, @sweep.description) %>
<div class = 'row'>
  <div class = 'col-md-offset-1 col-md-5'>
    <table class="table table-striped">
      <thead><tr><th>MAC</th><th>IP</th><th>Vendor</th></tr></thead>
      <%= render @nodes %>
    </table>
    <%= will_paginate @nodes %>
  </div>
</div>