<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description, @sweep.description) %>
<table class="table table-striped">
  <thead><tr><th>MAC</th><th>IP</th></tr></thead>
  <%= render @nodes %>
</table>
<%= will_paginate @nodes %>
