<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description, "Top Level") %>
<table class="table table-striped">
  <thead><tr><th>Sweeper Description</th><th>IP</th><th>MAC</th></tr></thead>
  <%= render @sweepers %>
</table>
<%= will_paginate %>
