<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description, "Home") %>
<table class="table table-striped">
  <thead><tr><th>Description</th><th>IP</th><th>MAC</th></tr></thead>
  <%= render @sweepers %>
</table>
<%= will_paginate %>
