<h1>Remote Rogue Device Detector</h1>
<a href='/home_pages/r2d2'>Go to r2d2 Home</a><br>
<a href='/home_pages/l2s2'>Go to l2s2 Home</a>
<table>
  <thead><tr><td>MAC</td><td>IP</td></tr></thead>
  <%= render @devices %>
</table>
<%= will_paginate %>