<% provide(:title, "Remote Rogue Device Detector") %>
<% provide(:description, 'Home') %>
<div class="col-md-12">
  <table class="table table-striped">
    <thead><tr>
      <th>DHCP-MAC</th>
      <th>Status</th>
      <th>DHCP-HOST</th>
      <th>IP</th>
      <th>Lease</th>
      <th>Vendor</th>
    </tr></thead>
    <%= render @leases %>
  </table>
  <%= will_paginate @leases %>
</div>