<div class='modal' id='list_edit' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Edit List</h4>
      </div>
      <div class="container modal-body">
        <div class="row col-md-6">
          <%= form_tag(controller: :lists, method: 'put') do %>
            <%= text_field_tag(:name) %>
            <button type="submit" class="btn btn-primary pull-right">Apply</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>