<div class='modal' id='list_edit' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Edit List</h4>
      </div>
      <div class="container modal-body">
        <div class="row col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="list-name">
          </div>
        </div>
        <div class="row">
          <div class='col-md-2'>
            <button type="submit" class="btn btn-primary pull-right">Apply</button>
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>